:root {
  --background: #faf8f2;
  --foreground: #605748;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background-image: url('../../public/background.jpg');
  background-size: cover;
  @media screen and (max-width: 768px) {
    background-size: auto;
    
  }
  background-position: center;
  background-repeat: no-repeat;
  font-family: Roboto, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('../../public/background.jpg') center/cover no-repeat;
  z-index: -2; /* Jde úplně dozadu */
}

/* Překrytí poloprůhlednou barvou */
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(250, 248, 242, 0.3); /* Úroveň průhlednosti */
  z-index: -1; /* Musí být nad obrázkem */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
